
%h1 Welcome to Health care center
.login
  .login_content
    = form_tag '/login', :method => :post do
      = label :user_n, 'Username'
      = text_field :user, :name
      = label :user_s, :name, 'Password'
      = text_field :user, :pass, onchange: ""
      %br
      = submit_tag 'enter', class: "button_login"