
%h1 Welcome to Health care center
.login
  .login_content
    = form_tag '/users', :method => :post do
      = label :user_n, :name, 'Username'
      = text_field :login_uid, 'name'
        
      = label :user_s, :name, 'Password'
      = text_field :login_p, 'surname'

    = submit_tag 'enter'
