- unless @user.errors.empty?
	#warning
		Error prevented this user from being #{controller.action_name}d:
		%ul
			- @user.errors.full_messages.each do |error|
				%li= error
 
= label :movie, :title, 'Title'
= text_field :movie, 'title'



= label :movie, :release_date, 'Released On'
= date_select :movie, :release_date

-# For Project 4.7
= label :movie, :description, 'Description'
= text_area :movie, 'description'

<br><br>

