- unless @user.errors.empty?
	#warning
		Error prevented this user from being #{controller.action_name}d:
		%ul
			- @user.errors.full_messages.each do |error|
				%li= error
 
= label :user_n, :name, 'Name'
= text_field :user, 'name'
  
= label :user_s, :name, 'Surname'
= text_field :user_sur, 'surname'
  
= label :user_i, :name, 'User id'
= text_field :user, 'uid'
  
= label :user_c, :name, 'User Class'
= select :user, :user_class, User.class_user
  
<br><br>

