
-# new.html.haml using partial
 
%h2 Find Petient #{@user.id}
   
= form_tag new_relate_path(@user), :method => :post do
  = label :user_n, :name, 'Name'
  = text_field :user, 'name'
  
  
  
  = submit_tag 'Save Changes'

= button_tag "Cancel", :type => 'button', :onclick => "location.href='/users'"
  