%h2 #{@user.name}'s Health Data
%label#testing test
#chartContainer{:style => "height: 300px; width:100%;"}

%table#users
  %thead
    %tr
      %th= "Spo2"
      %th= "Hearth rate"
      %th= "Update"
  %tbody
    - @user.health.each do |data|
      %tr
        %td= data.spo2
        %td= data.h_rate
        %td= data.created_at 