:javascript
  window.onload = function() {
    var ctx = $("#heartChart")[0].getContext("2d");
    console.log(config_heartsig)
    
    window.myLine = new Chart(ctx, config_heartsig);
    updateChart($("#h_sig").text());
    
    var ctx2 = $("#spo2Chart")[0].getContext("2d");
    config_spo2.data.datasets[0].data = getValueX(10, "#spo2_data")
    config_spo2.data.labels = getLabel(10, "#date_data")
    console.log(config_spo2.labels + "label")
    console.log(config_spo2.data + "data")
    console.log(config_spo2)
    window.myLine2 = new Chart(ctx2, config_spo2);
    
    var ctx3 = $("#h_rateChart")[0].getContext("2d");
    config_h_rate.data.datasets[0].data = getValueX(10, "#h_rate_data")
    config_h_rate.data.labels = getLabel(10, "#date_data")
    window.myLine3 = new Chart(ctx3, config_h_rate);
    
    console.log("end window load")
  }
  setInterval(function() { updateData() }, 10000);

.header
  %h2 #{@user.name}'s Health Data
.panel
  .panel-heading Health Status
  .panel-body 
    .time_status#timedate
      - if @user.health.length != 0
        #{@user.health.order("check_date").last.check_date.strftime("update at %Y-%-m-%-d")}
      - else
        no Update
    .h_status
      .h_spo2
        .panel_content
          .left_side_panel
            %label#big SpO2
          .right_side_panel
            .big#spo2  
              - if @user.health.length != 0
                #{@user.health.order("check_date").last.spo2} 
              - else
                0 
            #h_status  %
    .h_status
      .h_h_rate
        .panel_content
          .left_side_panel
            %label#big Heart Pulse 
          .right_side_panel
            .big#h_rate
              - if @user.health.length != 0
                #{@user.health.order("check_date").last.h_rate} 
              - else
                0 
            #h_status  bpm
  .panel
    .panel-heading Heart Signal
    .panel-body 
      .chart
        %canvas#heartChart{:style => "width: 100%; height: 300px;"}
      #h_sig 
        - if @user.health.length != 0
          #{@user.health.order("check_date").last.h_signal} 
.panel
  .panel-heading History update
  .panel-body
    .panel
      .panel-heading Spo2
      .panel-body
        #spo2_data
          - @user.health.order("check_date").each do |data|
            #{data.spo2},
        #date_data
          - @user.health.order("check_date").each do |data|
            #{data.check_date},
        .chart
          %canvas#spo2Chart{:style => "width: 100%; height: 300px;"}
    .panel
      .panel-heading Heart Rate
      .panel-body
        #h_rate_data
          - @user.health.order("check_date").each do |data|
            #{data.h_rate},
        .chart
          %canvas#h_rateChart{:style => "width: 100%; height: 300px;"}
    .table
      %table#users
        %thead
          %tr
            %th= "Spo2"
            %th= "Hearth rate"
            %th= "Update"
        %tbody#addtd
          - @user.health.order("check_date DESC").each do |data|
            %tr
              %td= data.spo2
              %td= data.h_rate
              %td= data.check_date.strftime("%Y-%-m-%-d")